USE [master]
GO
/****** Object:  Database [HotelManagementSystem]    Script Date: 3/14/2017 12:01:39 AM ******/
CREATE DATABASE [HotelManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagementSystem', FILENAME = N'E:\Projects\DB\HotelManagementSystem.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelManagementSystem_log', FILENAME = N'E:\Projects\DB\HotelManagementSystem_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagementSystem]
GO
/****** Object:  Table [dbo].[AppImage]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppImage](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [varchar](100) NULL,
	[ImagePath] [varchar](5000) NULL,
	[RecordImage] [image] NULL,
	[ProductItemId] [int] NULL,
	[EmployeeId] [int] NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_BMSImage_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_BMSImage_RecordStatus]  DEFAULT ((1)),
 CONSTRAINT [PK_BMSImage] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AppRole]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppRole](
	[RoleId] [int] NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Create] [bit] NULL,
	[Edit] [bit] NULL,
	[Delete] [bit] NULL,
	[Read] [bit] NULL,
	[OtherAction] [bit] NULL,
	[ParentRoleId] [int] NULL,
	[DataEntryUserId] [int] NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_BMSRole_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_BMSRole_RecordStatus]  DEFAULT ((1)),
 CONSTRAINT [PK_BMSRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppUser](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[loginId] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[UserTypeId] [int] NULL,
	[empid] [int] NULL,
	[branchId] [smallint] NULL,
	[DataEntryUserId] [int] NULL,
	[DataEntryDate] [datetime] NULL CONSTRAINT [DF_userBMS_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NULL CONSTRAINT [DF_userBMS_RecordStatus]  DEFAULT ((1)),
	[cserver] [varchar](50) NULL,
	[cuser] [varchar](50) NULL,
	[cpassword] [varchar](50) NULL,
	[tserver] [varchar](50) NULL,
	[tdatabase] [varchar](50) NULL,
	[tuser] [varchar](50) NULL,
	[tpassword] [varchar](50) NULL,
	[multicode] [varchar](50) NULL,
 CONSTRAINT [PK_UserMst] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AppUserRole]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DataEntryUserId] [int] NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_UserBMSRole_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_UserBMSRole_RecordStatus]  DEFAULT ((1)),
 CONSTRAINT [PK_UserBMSRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Booking]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingNumber] [varchar](50) NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[RoomIds] [varchar](500) NOT NULL,
	[CheckInDate] [datetime] NOT NULL,
	[CheckOutDate] [datetime] NOT NULL,
	[NoOfNight] [int] NULL,
	[Price] [decimal](18, 4) NULL,
	[GSTPercentage] [decimal](18, 4) NULL,
	[GSTAmount] [decimal](18, 4) NULL,
	[DiscountPercentge] [decimal](18, 4) NULL,
	[DiscountAmount] [decimal](18, 4) NULL,
	[TotalAmount] [decimal](18, 4) NULL,
	[Remarks] [varchar](max) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_Booking_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_Booking_RecordStatus]  DEFAULT ((1)),
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[branchInfo]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[branchInfo](
	[branchId] [smallint] IDENTITY(1,1) NOT NULL,
	[branchCode] [varchar](50) NOT NULL,
	[branchName] [varchar](100) NOT NULL,
	[branchShortName] [varchar](50) NOT NULL,
	[companyId] [int] NOT NULL,
	[status] [varchar](50) NULL,
	[cetuser] [int] NULL,
	[cerdatetime] [datetime] NULL,
	[cersystem] [varchar](50) NULL,
	[creip] [float] NULL,
	[upduser] [int] NULL,
	[updatetime] [datetime] NULL,
	[updsustem] [varchar](50) NULL,
	[updip] [float] NULL,
 CONSTRAINT [PK_branchinfo] PRIMARY KEY CLUSTERED 
(
	[branchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[City]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CityCode] [varchar](100) NOT NULL,
	[CityName] [varchar](500) NOT NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_City_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_City_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[CompanyShortName] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[ContectNumber] [varchar](200) NULL,
	[SaleTaxNumber] [varchar](500) NULL,
	[RecordStatus] [int] NULL,
	[cetuser] [int] NULL,
	[cerdatetime] [datetime] NULL,
	[cersystem] [varchar](50) NULL,
	[creip] [float] NULL,
	[upduser] [int] NULL,
	[updatetime] [datetime] NULL,
	[updsustem] [varchar](50) NULL,
	[updip] [float] NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactAddress]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactAddress](
	[ContactAddressId] [int] IDENTITY(1,1) NOT NULL,
	[AddressTypeId] [int] NULL,
	[CustomerId] [int] NULL,
	[EmployId] [int] NULL,
	[CompanyId] [int] NULL,
	[AddressDetail] [varchar](1000) NOT NULL,
	[CityId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[PostalCode] [int] NOT NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_ContactAddress_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_ContactAddress_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_ContactAddress] PRIMARY KEY CLUSTERED 
(
	[ContactAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactAddressType]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactAddressType](
	[ContactAddressTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[ShortName] [varchar](100) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_ContactAddressType_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_ContactAddressType_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_ContactAddressType] PRIMARY KEY CLUSTERED 
(
	[ContactAddressTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactNumber]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactNumber](
	[ContactNumberId] [int] IDENTITY(1,1) NOT NULL,
	[ContactNumberTypeId] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[EmployId] [int] NULL,
	[CompanyId] [int] NULL,
	[Number] [varchar](30) NOT NULL,
	[Description] [varchar](5000) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_ContactNumber_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_ContactNumber_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_ContactNumber] PRIMARY KEY CLUSTERED 
(
	[ContactNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactNumberType]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactNumberType](
	[ContactNumberTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[ShortName] [varchar](100) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_ContactNumberType_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_ContactNumberType_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_ContactNumberType] PRIMARY KEY CLUSTERED 
(
	[ContactNumberTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [varchar](100) NULL,
	[CountryName] [varchar](500) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_Country_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_Country_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[TitleTypeId] [int] NOT NULL,
	[FirstName] [varchar](500) NOT NULL,
	[LastName] [varchar](500) NULL,
	[NIC] [varchar](200) NULL,
	[CustomerTypeId] [int] NOT NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_Customers_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_Customers_Status]  DEFAULT ((1)),
	[PageId] [int] NULL,
	[CreateIP] [int] NULL,
	[CreateSystem] [varchar](100) NULL,
	[CreateDateTime] [datetime] NULL,
	[CreateUser] [nvarchar](450) NULL,
	[UpdateIP] [int] NULL,
	[UpdateSystem] [varchar](100) NULL,
	[UpdateDateTime] [datetime] NULL,
	[UpdateUser] [nvarchar](450) NULL,
	[DeleteIP] [int] NULL,
	[DeleteSystem] [varchar](100) NULL,
	[DeleteDateTime] [datetime] NULL,
	[DeleteUser] [nvarchar](450) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerType]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerType](
	[CustomerTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[ShortName] [varchar](500) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_CustomerTypeId_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_CustomerTypeId_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_CustomerTypeId] PRIMARY KEY CLUSTERED 
(
	[CustomerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](500) NOT NULL,
	[LastName] [varchar](500) NOT NULL,
	[TitleTypeId] [int] NOT NULL,
	[PositionId] [int] NOT NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL,
	[RecordStatus] [int] NOT NULL,
	[PageId] [int] NULL,
	[CreateIP] [int] NULL,
	[CreateSystem] [varchar](100) NULL,
	[CreateDateTime] [datetime] NULL,
	[CreateUser] [nvarchar](450) NULL,
	[UpdateIP] [int] NULL,
	[UpdateSystem] [varchar](100) NULL,
	[UpdateDateTime] [datetime] NULL,
	[UpdateUser] [nvarchar](450) NULL,
	[DeleteIP] [int] NULL,
	[DeleteSystem] [varchar](100) NULL,
	[DeleteDateTime] [datetime] NULL,
	[DeleteUser] [nvarchar](450) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentMode]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMode](
	[PaymentModeId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[PaymentModeTypeId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[DataEntryUserId] [int] NULL,
	[DataEntryDate] [datetime] NULL CONSTRAINT [DF_PaymentMode_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL,
 CONSTRAINT [PK_PaymentMode] PRIMARY KEY CLUSTERED 
(
	[PaymentModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentModeType]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentModeType](
	[PaymentModeTypeId] [int] NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[ShortName] [varchar](100) NULL,
	[RecordStatus] [int] NOT NULL,
 CONSTRAINT [PK_PaymentModeType] PRIMARY KEY CLUSTERED 
(
	[PaymentModeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Position]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Position](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [varchar](200) NOT NULL,
	[ShortName] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Room]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [varchar](100) NOT NULL,
	[RoomTypeId] [int] NOT NULL,
	[RoomDescription] [varchar](max) NULL,
	[RoomPicture] [image] NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL,
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_Room_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoomActivityStatus]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomActivityStatus](
	[RoomActivityStatusId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[RoomStatusId] [int] NOT NULL,
	[BookingId] [int] NULL,
	[Description] [varchar](max) NULL,
	[DataEntryUserId] [int] NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_RoomActivityStatus_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_RoomActivityStatus_RecordStatus]  DEFAULT ((1)),
 CONSTRAINT [PK_RoomActivityStatus] PRIMARY KEY CLUSTERED 
(
	[RoomActivityStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoomStatus]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomStatus](
	[RoomStatusId] [int] NOT NULL,
	[RoomStatusName] [varchar](500) NOT NULL,
	[ShortName] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[ColorCode] [varchar](50) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_RoomStatus_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_RoomStatus_RecordStatus]  DEFAULT ((1)),
 CONSTRAINT [PK_RoomStatus] PRIMARY KEY CLUSTERED 
(
	[RoomStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomType](
	[RoomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeName] [varchar](1000) NOT NULL,
	[RoomPrice] [decimal](18, 4) NULL,
	[GSTPercentage] [decimal](18, 4) NULL,
	[Description] [varchar](max) NULL,
	[DataEntryUserId] [int] NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_RoomType_DataEntryDate]  DEFAULT (getdate()),
	[RecordStatus] [int] NOT NULL CONSTRAINT [DF_RoomType_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_RoomType] PRIMARY KEY CLUSTERED 
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Title]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Title](
	[TitleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[ShortName] [varchar](500) NULL,
	[DataEntryUserId] [nvarchar](450) NOT NULL,
	[DataEntryDate] [datetime] NOT NULL CONSTRAINT [DF_Title_DataEntryDate]  DEFAULT (getdate()),
	[Status] [int] NOT NULL CONSTRAINT [DF_Title_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[TitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeId] [int] NOT NULL,
	[UserTypeName] [varchar](500) NOT NULL,
	[RecordStatus] [int] NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AppImage] ON 

SET IDENTITY_INSERT [dbo].[AppImage] OFF
INSERT [dbo].[AppRole] ([RoleId], [Name], [Create], [Edit], [Delete], [Read], [OtherAction], [ParentRoleId], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, N'Point Of Sale Edit', NULL, NULL, NULL, NULL, 1, NULL, 1, CAST(N'2016-11-13 17:15:56.967' AS DateTime), 0)
INSERT [dbo].[AppRole] ([RoleId], [Name], [Create], [Edit], [Delete], [Read], [OtherAction], [ParentRoleId], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, N'Point Of Sale Delete', NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2016-11-13 00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[AppUser] ON 

INSERT [dbo].[AppUser] ([userid], [loginId], [username], [password], [UserTypeId], [empid], [branchId], [DataEntryUserId], [DataEntryDate], [RecordStatus], [cserver], [cuser], [cpassword], [tserver], [tdatabase], [tuser], [tpassword], [multicode]) VALUES (6, N'akber', N'Akber Ahmed', N'1', 1, 1, 3, 6, CAST(N'2016-10-28 00:09:11.780' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AppUser] ([userid], [loginId], [username], [password], [UserTypeId], [empid], [branchId], [DataEntryUserId], [DataEntryDate], [RecordStatus], [cserver], [cuser], [cpassword], [tserver], [tdatabase], [tuser], [tpassword], [multicode]) VALUES (9, N'shoaib', N'shoaib papo', N'1', 1, NULL, NULL, 6, CAST(N'2016-10-28 00:14:04.660' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AppUser] ([userid], [loginId], [username], [password], [UserTypeId], [empid], [branchId], [DataEntryUserId], [DataEntryDate], [RecordStatus], [cserver], [cuser], [cpassword], [tserver], [tdatabase], [tuser], [tpassword], [multicode]) VALUES (10, N'Basic', N'basic', N'1', 2, NULL, NULL, 6, CAST(N'2016-11-15 17:07:16.130' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AppUser] OFF
SET IDENTITY_INSERT [dbo].[AppUserRole] ON 

INSERT [dbo].[AppUserRole] ([UserRoleID], [RoleID], [UserID], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, 2, 10, 6, CAST(N'2016-11-15 19:07:06.783' AS DateTime), 0)
INSERT [dbo].[AppUserRole] ([UserRoleID], [RoleID], [UserID], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, 1, 10, 6, CAST(N'2016-11-15 19:07:06.957' AS DateTime), 0)
INSERT [dbo].[AppUserRole] ([UserRoleID], [RoleID], [UserID], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, 1, 10, 6, CAST(N'2016-11-15 19:49:44.743' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[AppUserRole] OFF
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingId], [BookingNumber], [BookingDate], [CustomerId], [RoomIds], [CheckInDate], [CheckOutDate], [NoOfNight], [Price], [GSTPercentage], [GSTAmount], [DiscountPercentge], [DiscountAmount], [TotalAmount], [Remarks], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (6, N'1', CAST(N'2016-12-25 00:00:00.000' AS DateTime), 7, N'2', CAST(N'2016-12-25 02:00:00.000' AS DateTime), CAST(N'2016-12-25 00:00:00.000' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, NULL, N'Test 1', N'6', CAST(N'2016-12-25 23:03:34.580' AS DateTime), 1)
INSERT [dbo].[Booking] ([BookingId], [BookingNumber], [BookingDate], [CustomerId], [RoomIds], [CheckInDate], [CheckOutDate], [NoOfNight], [Price], [GSTPercentage], [GSTAmount], [DiscountPercentge], [DiscountAmount], [TotalAmount], [Remarks], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (7, N'2', CAST(N'2016-12-27 00:00:00.000' AS DateTime), 12, N'1', CAST(N'2016-12-27 00:00:00.000' AS DateTime), CAST(N'2016-12-27 00:00:00.000' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, NULL, N'Test', N'6', CAST(N'2016-12-27 22:55:19.317' AS DateTime), 1)
INSERT [dbo].[Booking] ([BookingId], [BookingNumber], [BookingDate], [CustomerId], [RoomIds], [CheckInDate], [CheckOutDate], [NoOfNight], [Price], [GSTPercentage], [GSTAmount], [DiscountPercentge], [DiscountAmount], [TotalAmount], [Remarks], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (8, N'3', CAST(N'2016-12-27 00:00:00.000' AS DateTime), 12, N'2', CAST(N'2016-12-27 00:30:00.000' AS DateTime), CAST(N'2016-12-27 01:00:00.000' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, NULL, N'Test 2', N'6', CAST(N'2016-12-27 22:57:03.220' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Booking] OFF
SET IDENTITY_INSERT [dbo].[branchInfo] ON 

INSERT [dbo].[branchInfo] ([branchId], [branchCode], [branchName], [branchShortName], [companyId], [status], [cetuser], [cerdatetime], [cersystem], [creip], [upduser], [updatetime], [updsustem], [updip]) VALUES (3, N'0001', N'My Restaurant', N'My Restaurant', 2, N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[branchInfo] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityId], [CountryId], [CityCode], [CityName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, 1, N'0001', N'Karachi', N'6', CAST(N'2016-10-11 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[City] ([CityId], [CountryId], [CityCode], [CityName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, 1, N'00001', N'Lohare', N'6', CAST(N'2017-03-03 22:42:02.940' AS DateTime), 0)
INSERT [dbo].[City] ([CityId], [CountryId], [CityCode], [CityName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, 3, N'0003', N'bombay', N'6', CAST(N'2017-03-03 23:00:33.157' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyId], [CompanyName], [CompanyShortName], [Address], [ContectNumber], [SaleTaxNumber], [RecordStatus], [cetuser], [cerdatetime], [cersystem], [creip], [upduser], [updatetime], [updsustem], [updip]) VALUES (2, N'HOTEL UNITED', N'', N'Dr. Dawood Pota Road, Saddar, Karachi', N'35217125-26-27, 35217164-65-66, 35214483', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[ContactAddress] ON 

INSERT [dbo].[ContactAddress] ([ContactAddressId], [AddressTypeId], [CustomerId], [EmployId], [CompanyId], [AddressDetail], [CityId], [CountryId], [PostalCode], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, 1, 4, NULL, NULL, N'L 3434', 1, 1, 0, N'0', CAST(N'2016-10-11 21:09:06.860' AS DateTime), 0)
INSERT [dbo].[ContactAddress] ([ContactAddressId], [AddressTypeId], [CustomerId], [EmployId], [CompanyId], [AddressDetail], [CityId], [CountryId], [PostalCode], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, 1, 4, NULL, NULL, N'L 3434', 1, 1, 0, N'6', CAST(N'2016-10-12 01:19:32.040' AS DateTime), 0)
INSERT [dbo].[ContactAddress] ([ContactAddressId], [AddressTypeId], [CustomerId], [EmployId], [CompanyId], [AddressDetail], [CityId], [CountryId], [PostalCode], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, 1, 7, NULL, NULL, N'111111111111111', 1, 1, 0, N'6', CAST(N'2016-10-12 01:47:17.303' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ContactAddress] OFF
SET IDENTITY_INSERT [dbo].[ContactAddressType] ON 

INSERT [dbo].[ContactAddressType] ([ContactAddressTypeId], [Name], [ShortName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, N'Current Address', N'CA', N'3da4d8fd-38d9-479f-9819-692d56bae6df', CAST(N'2016-07-31 04:54:32.097' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ContactAddressType] OFF
SET IDENTITY_INSERT [dbo].[ContactNumber] ON 

INSERT [dbo].[ContactNumber] ([ContactNumberId], [ContactNumberTypeId], [CustomerId], [EmployId], [CompanyId], [Number], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, 1, 4, NULL, NULL, N'2222222222', NULL, N'0', CAST(N'2016-10-11 21:09:05.997' AS DateTime), 0)
INSERT [dbo].[ContactNumber] ([ContactNumberId], [ContactNumberTypeId], [CustomerId], [EmployId], [CompanyId], [Number], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, 2, 4, NULL, NULL, N'2222222222', NULL, N'0', CAST(N'2016-10-11 21:09:06.347' AS DateTime), 0)
INSERT [dbo].[ContactNumber] ([ContactNumberId], [ContactNumberTypeId], [CustomerId], [EmployId], [CompanyId], [Number], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (4, 1, 4, NULL, NULL, N'2222222222', NULL, N'6', CAST(N'2016-10-12 01:19:31.910' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ContactNumber] OFF
SET IDENTITY_INSERT [dbo].[ContactNumberType] ON 

INSERT [dbo].[ContactNumberType] ([ContactNumberTypeId], [Name], [ShortName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, N'Phone Number', N'PN', N'3da4d8fd-38d9-479f-9819-692d56bae6df', CAST(N'2016-07-31 04:55:22.783' AS DateTime), 1)
INSERT [dbo].[ContactNumberType] ([ContactNumberTypeId], [Name], [ShortName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, N'Cell Number', N'CN', N'3da4d8fd-38d9-479f-9819-692d56bae6df', CAST(N'2016-07-31 04:55:39.277' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ContactNumberType] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryId], [CountryCode], [CountryName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, N'0001', N'Pakistan', N'6', CAST(N'2016-10-11 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Country] ([CountryId], [CountryCode], [CountryName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, N'0002', N'India', N'6', CAST(N'2017-03-03 00:14:52.273' AS DateTime), 0)
INSERT [dbo].[Country] ([CountryId], [CountryCode], [CountryName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, N'india 001', N'India', N'6', CAST(N'2017-03-03 22:59:20.060' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [TitleTypeId], [FirstName], [LastName], [NIC], [CustomerTypeId], [DataEntryUserId], [DataEntryDate], [RecordStatus], [PageId], [CreateIP], [CreateSystem], [CreateDateTime], [CreateUser], [UpdateIP], [UpdateSystem], [UpdateDateTime], [UpdateUser], [DeleteIP], [DeleteSystem], [DeleteDateTime], [DeleteUser]) VALUES (4, 1, N'Akber ', N'Ahmed', NULL, 1, N'6', CAST(N'2016-10-12 01:32:43.083' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [TitleTypeId], [FirstName], [LastName], [NIC], [CustomerTypeId], [DataEntryUserId], [DataEntryDate], [RecordStatus], [PageId], [CreateIP], [CreateSystem], [CreateDateTime], [CreateUser], [UpdateIP], [UpdateSystem], [UpdateDateTime], [UpdateUser], [DeleteIP], [DeleteSystem], [DeleteDateTime], [DeleteUser]) VALUES (5, 1, N'Akber ', N'Ahmed', NULL, 1, N'6', CAST(N'2016-10-12 01:19:31.810' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [TitleTypeId], [FirstName], [LastName], [NIC], [CustomerTypeId], [DataEntryUserId], [DataEntryDate], [RecordStatus], [PageId], [CreateIP], [CreateSystem], [CreateDateTime], [CreateUser], [UpdateIP], [UpdateSystem], [UpdateDateTime], [UpdateUser], [DeleteIP], [DeleteSystem], [DeleteDateTime], [DeleteUser]) VALUES (7, 1, N'Akber ', N'Ahmed', NULL, 1, N'6', CAST(N'2016-10-12 01:46:58.803' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[CustomerType] ON 

INSERT [dbo].[CustomerType] ([CustomerTypeId], [Name], [ShortName], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, N'Basic', N'BS', N'3da4d8fd-38d9-479f-9819-692d56bae6df', CAST(N'2016-08-07 06:22:57.443' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CustomerType] OFF
SET IDENTITY_INSERT [dbo].[PaymentMode] ON 

INSERT [dbo].[PaymentMode] ([PaymentModeId], [BookingId], [PaymentModeTypeId], [Amount], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (5, 21, 1, CAST(5000.00 AS Decimal(18, 2)), 6, CAST(N'2017-02-13 22:22:26.320' AS DateTime), 1)
INSERT [dbo].[PaymentMode] ([PaymentModeId], [BookingId], [PaymentModeTypeId], [Amount], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (6, 22, 2, CAST(29250.00 AS Decimal(18, 2)), 6, CAST(N'2017-03-09 00:33:26.460' AS DateTime), 0)
INSERT [dbo].[PaymentMode] ([PaymentModeId], [BookingId], [PaymentModeTypeId], [Amount], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (7, 23, 2, CAST(5000.00 AS Decimal(18, 2)), 6, CAST(N'2017-03-08 23:25:19.950' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PaymentMode] OFF
INSERT [dbo].[PaymentModeType] ([PaymentModeTypeId], [Name], [ShortName], [RecordStatus]) VALUES (1, N'Cash', N'cs', 1)
INSERT [dbo].[PaymentModeType] ([PaymentModeTypeId], [Name], [ShortName], [RecordStatus]) VALUES (2, N'Advance', N'Ad', 1)
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomId], [RoomName], [RoomTypeId], [RoomDescription], [RoomPicture], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, N'ROOM 1', 1, NULL, NULL, N'2', CAST(N'2016-12-11 22:06:50.237' AS DateTime), 1)
INSERT [dbo].[Room] ([RoomId], [RoomName], [RoomTypeId], [RoomDescription], [RoomPicture], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, N'ROOM 2', 1, NULL, NULL, N'2', CAST(N'2016-12-11 22:07:16.127' AS DateTime), 1)
INSERT [dbo].[Room] ([RoomId], [RoomName], [RoomTypeId], [RoomDescription], [RoomPicture], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, N'ROOM 3', 1, NULL, NULL, N'2', CAST(N'2016-12-11 22:07:26.793' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[RoomActivityStatus] ON 

INSERT [dbo].[RoomActivityStatus] ([RoomActivityStatusId], [RoomId], [RoomStatusId], [BookingId], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, 1, 1, NULL, N'Test1', 2, CAST(N'2017-02-12 12:11:08.897' AS DateTime), 1)
INSERT [dbo].[RoomActivityStatus] ([RoomActivityStatusId], [RoomId], [RoomStatusId], [BookingId], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, 1, 16, NULL, N'Test1', 2, CAST(N'2017-02-12 12:11:54.780' AS DateTime), 1)
INSERT [dbo].[RoomActivityStatus] ([RoomActivityStatusId], [RoomId], [RoomStatusId], [BookingId], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, 2, 1, 9, N'Test2', 2, CAST(N'2017-02-12 12:12:54.170' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[RoomActivityStatus] OFF
INSERT [dbo].[RoomStatus] ([RoomStatusId], [RoomStatusName], [ShortName], [Description], [ColorCode], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, N'Occupied', N'OC', N'A guest is currently registered to the room.', N'Blue', N'2', CAST(N'2017-02-12 11:49:31.767' AS DateTime), 1)
INSERT [dbo].[RoomStatus] ([RoomStatusId], [RoomStatusName], [ShortName], [Description], [ColorCode], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, N'Complimentary', N'Complimentary', N'The room is occupied but the guest is assessed no charge for its use', NULL, N'2', CAST(N'2017-02-12 11:56:02.557' AS DateTime), 0)
INSERT [dbo].[RoomStatus] ([RoomStatusId], [RoomStatusName], [ShortName], [Description], [ColorCode], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, N'Stay Over', NULL, N'The guest is not expected to check out today and will remain at least one more night.', NULL, N'2', CAST(N'2017-02-12 11:56:48.043' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([RoomTypeId], [RoomTypeName], [RoomPrice], [GSTPercentage], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (0, N'Test 1', CAST(9999.0000 AS Decimal(18, 4)), NULL, N'Test 1', 6, CAST(N'2017-01-10 22:25:24.833' AS DateTime), 0)
INSERT [dbo].[RoomType] ([RoomTypeId], [RoomTypeName], [RoomPrice], [GSTPercentage], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (1, N'GUEST ROOMS', CAST(25000.0000 AS Decimal(18, 4)), CAST(17.0000 AS Decimal(18, 4)), N'Comfort Security Privacy Convenience Cleanliness and Hygiene A “Home Away from Home”
', 6, CAST(N'2017-03-05 21:00:47.030' AS DateTime), 1)
INSERT [dbo].[RoomType] ([RoomTypeId], [RoomTypeName], [RoomPrice], [GSTPercentage], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (2, N'SINGLE ROOM', CAST(609.0000 AS Decimal(18, 4)), CAST(17.0000 AS Decimal(18, 4)), N'A room which has single bed facility.
', 6, CAST(N'2017-03-11 21:12:23.993' AS DateTime), 1)
INSERT [dbo].[RoomType] ([RoomTypeId], [RoomTypeName], [RoomPrice], [GSTPercentage], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (3, N'DOUBLE ROOM', CAST(10000.0000 AS Decimal(18, 4)), NULL, N'A room which has double bed facility.
', 1, CAST(N'2016-12-11 21:53:57.487' AS DateTime), 1)
INSERT [dbo].[RoomType] ([RoomTypeId], [RoomTypeName], [RoomPrice], [GSTPercentage], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (4, N'DOUBLE DOUBLE ROOM', CAST(20000.0000 AS Decimal(18, 4)), NULL, N'A room which has two double bed facility.
', 1, CAST(N'2016-12-11 21:54:35.520' AS DateTime), 1)
INSERT [dbo].[RoomType] ([RoomTypeId], [RoomTypeName], [RoomPrice], [GSTPercentage], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (5, N'TWIN ROOM', CAST(25000.0000 AS Decimal(18, 4)), NULL, N'A room which has two single bed separated by a center table', 1, CAST(N'2016-12-11 21:55:46.723' AS DateTime), 1)
INSERT [dbo].[RoomType] ([RoomTypeId], [RoomTypeName], [RoomPrice], [GSTPercentage], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (6, N'INTERCONNECTING ROOMS', CAST(30000.0000 AS Decimal(18, 4)), NULL, N'Two rooms which shares a common door, mostly used by families.
', 1, CAST(N'2016-12-11 22:01:46.577' AS DateTime), 1)
INSERT [dbo].[RoomType] ([RoomTypeId], [RoomTypeName], [RoomPrice], [GSTPercentage], [Description], [DataEntryUserId], [DataEntryDate], [RecordStatus]) VALUES (7, N'Test 4', CAST(77777.0000 AS Decimal(18, 4)), NULL, N'Test 4', 6, CAST(N'2017-01-10 22:41:07.620' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RoomType] OFF
SET IDENTITY_INSERT [dbo].[Title] ON 

INSERT [dbo].[Title] ([TitleId], [Name], [ShortName], [DataEntryUserId], [DataEntryDate], [Status]) VALUES (1, N'Mr', NULL, N'6', CAST(N'2016-10-11 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Title] OFF
INSERT [dbo].[UserType] ([UserTypeId], [UserTypeName], [RecordStatus]) VALUES (1, N'Administrator', 1)
INSERT [dbo].[UserType] ([UserTypeId], [UserTypeName], [RecordStatus]) VALUES (2, N'Basic User ', 1)
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_DataEntryDate]  DEFAULT (getdate()) FOR [DataEntryDate]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_Status]  DEFAULT ((1)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_DataEntryDate]  DEFAULT (getdate()) FOR [DataEntryDate]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD  CONSTRAINT [FK_userRms_branchInfo] FOREIGN KEY([branchId])
REFERENCES [dbo].[branchInfo] ([branchId])
GO
ALTER TABLE [dbo].[AppUser] CHECK CONSTRAINT [FK_userRms_branchInfo]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customers]
GO
ALTER TABLE [dbo].[branchInfo]  WITH CHECK ADD  CONSTRAINT [FK_branchInfo_company] FOREIGN KEY([companyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[branchInfo] CHECK CONSTRAINT [FK_branchInfo_company]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[ContactAddress]  WITH CHECK ADD  CONSTRAINT [FK_ContactAddress_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[ContactAddress] CHECK CONSTRAINT [FK_ContactAddress_City]
GO
ALTER TABLE [dbo].[ContactAddress]  WITH CHECK ADD  CONSTRAINT [FK_ContactAddress_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[ContactAddress] CHECK CONSTRAINT [FK_ContactAddress_Country]
GO
ALTER TABLE [dbo].[ContactAddress]  WITH CHECK ADD  CONSTRAINT [FK_ContactAddress_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[ContactAddress] CHECK CONSTRAINT [FK_ContactAddress_Customers]
GO
ALTER TABLE [dbo].[ContactAddress]  WITH CHECK ADD  CONSTRAINT [FK_ContactAddress_Employee] FOREIGN KEY([EmployId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[ContactAddress] CHECK CONSTRAINT [FK_ContactAddress_Employee]
GO
ALTER TABLE [dbo].[ContactNumber]  WITH CHECK ADD  CONSTRAINT [FK_ContactNumber_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[ContactNumber] CHECK CONSTRAINT [FK_ContactNumber_Customers]
GO
ALTER TABLE [dbo].[ContactNumber]  WITH CHECK ADD  CONSTRAINT [FK_ContactNumber_Employee] FOREIGN KEY([EmployId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[ContactNumber] CHECK CONSTRAINT [FK_ContactNumber_Employee]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_CustomerTypeId] FOREIGN KEY([CustomerTypeId])
REFERENCES [dbo].[CustomerType] ([CustomerTypeId])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_CustomerTypeId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Title] FOREIGN KEY([TitleTypeId])
REFERENCES [dbo].[Title] ([TitleId])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Title]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Title] FOREIGN KEY([TitleTypeId])
REFERENCES [dbo].[Title] ([TitleId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Title]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomType] ([RoomTypeId])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_RoomType]
GO
ALTER TABLE [dbo].[RoomActivityStatus]  WITH CHECK ADD  CONSTRAINT [FK_RoomActivityStatus_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[RoomActivityStatus] CHECK CONSTRAINT [FK_RoomActivityStatus_Booking]
GO
ALTER TABLE [dbo].[RoomActivityStatus]  WITH CHECK ADD  CONSTRAINT [FK_RoomActivityStatus_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
GO
ALTER TABLE [dbo].[RoomActivityStatus] CHECK CONSTRAINT [FK_RoomActivityStatus_Room]
GO
ALTER TABLE [dbo].[RoomActivityStatus]  WITH CHECK ADD  CONSTRAINT [FK_RoomActivityStatus_RoomStatus] FOREIGN KEY([RoomStatusId])
REFERENCES [dbo].[RoomStatus] ([RoomStatusId])
GO
ALTER TABLE [dbo].[RoomActivityStatus] CHECK CONSTRAINT [FK_RoomActivityStatus_RoomStatus]
GO
/****** Object:  StoredProcedure [dbo].[SptBMSImage]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptBMSImage]
@TypeId int = Null,
@RecordImage image = null,
@ImageId int = null,
@ProductItemId int = null

AS
BEGIN
	IF(@TypeId = 1)
	Begin 
			
			If(@ImageId > 0)
			Begin

				Update BMSImage
				set RecordImage = @RecordImage
				where ImageId = @ImageId

			End
			else
			begin

				SELECT  @ImageId
				Insert Into BMSImage (RecordImage,ProductItemId)
				Select @RecordImage, @ProductItemId

				DECLARE @ID INT; SET @ID=SCOPE_IDENTITY();SELECT  @ID

			End

	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptBooking]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,23-may-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptBooking]
@TypeId int = null,
@BookingId int = NULL,
@StartDate Datetime = NULL,
@EndDate DateTime = NULL
AS
BEGIN

	IF(@TypeId = 1)
	BEGIN
		declare @invNumber int = 0
		Select @invNumber = MAX(Isnull(CONVERT(decimal,s.BookingNumber),0)) 
		from Booking s

		Select Isnull(@invNumber,0) + 1

	END

	IF(@TypeId = 2)
	Begin
		Select b.BookingId, b.BookingDate, b.BookingNumber, convert(varchar(10),b.CheckInDate, 101) + right(convert(varchar(32),b.CheckInDate,100),8) CheckInDate,convert(varchar(10),b.CheckOutDate, 101) + right(convert(varchar(32),b.CheckOutDate,100),8) CheckOutDate, b.CustomerId, b.DataEntryDate,
		b.DataEntryUserId, b.NoOfNight, b.RecordStatus, b.Remarks, b.RoomIds, c.FirstName, 
		rt.RoomTypeName +' - '+ r.RoomName as RoomWithType
		from Booking b
		Left Outer Join Customers c on c.CustomerId = b.CustomerId
		Left Outer Join Room r on r.RoomId = b.RoomIds
		Left Outer Join RoomType rt on rt.RoomTypeId = r.RoomTypeId
		where b.RecordStatus = 1
	End

	IF(@TypeId = 3)
	Begin
			Update Booking
				set RecordStatus = 0
			where BookingId = @BookingId

			Update PaymentMode
				set RecordStatus = 0
			where BookingId = @BookingId

			update RoomActivityStatus
			 set RecordStatus = 0
			 where BookingId = @BookingId
		End
	
	if(@TypeId = 4)
	Begin
		--Declare @StartDate Datetime = '2017-01-30'
		--Declare @EndDate Datetime = '2017-03-30'

	Select b.BookingId, b.BookingNumber, b.CheckInDate, b.CheckOutDate, b.NoOfNight, 
	b.BookingDate, b.RoomIds, r.RoomName, b.CustomerId,c.FirstName, c.NIC, 
	c.CustomerTypeId, ct.Name CustomerTypeName, cn.Number MobileNumber, ca.AddressDetail as Address, 
	ca.CityId, ci.CityName, ca.CountryId, co.CountryName, b.Price, 
	b.GSTPercentage, b.GSTAmount, b.DiscountPercentge, b.DiscountAmount, b.TotalAmount,
	b.Remarks, ap.username as UserName, b.DataEntryDate 
	into #Booking
	from 
	Booking b
	Left Outer Join Customers c on c.CustomerId = b.CustomerId
	Left Outer Join CustomerType ct on ct.CustomerTypeId = c.CustomerTypeId
	Left Outer Join ContactNumber cn on cn.CustomerId = c.CustomerId and cn.ContactNumberTypeId = 2
	Left Outer Join ContactAddress ca on ca.CustomerId = c.CustomerId
	Left Outer Join City ci on ci.CityId = ca.CityId
	Left Outer Join Country co on co.CountryId = ca.CountryId
	Left Outer Join Room r on r.RoomId = b.RoomIds
	Left Outer Join AppUser ap on ap.userid = c.DataEntryUserId
	where b.RecordStatus = 1 and b.BookingDate between @StartDate and @EndDate


	Select a.BookingId, a.RoomId, a.RoomStatusId, r.RoomStatusName into #RoomStatus 
	from 
	(
		select ra.BookingId, ra.RoomId, ra.RoomActivityStatusId, ra.RoomStatusId,
		RANK() Over(Partition by ra.BookingId order by ra.RoomActivityStatusId desc) SortOrder
		from #Booking b
		inner Join RoomActivityStatus  ra on ra.BookingId = b.BookingId
		where ra.RecordStatus = 1
	) a
	Left Outer Join RoomStatus r on r.RoomStatusId = a.RoomStatusId
	where a.SortOrder = 1 

	select p.BookingId, p.Amount into #Advance
	from #Booking b
	Left Outer Join PaymentMode p on p.BookingId = b.BookingId 
	where p.PaymentModeTypeId = 2

	Select b.*, r.RoomStatusName, a.Amount as DepositedAmount
	from #Booking b
	Left Outer Join #RoomStatus r on r.BookingId = b.BookingId
	Left Outer Join #Advance a on a.BookingId = b.BookingId

	drop Table #RoomStatus
	drop table #Booking
	drop Table #Advance

	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptBooKingReport]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptBooKingReport]
@TypeId int = NULL,
@DateFilterType int  = NULL,
@StartDate DATETIME = NULL,
@EndDate DATETIME = NULL,
@BookingId INT = NULL
AS
BEGIN
	IF(@TypeId = 1)
	Begin 

	Select b.BookingId, b.BookingNumber, b.CheckInDate, b.CheckOutDate, b.NoOfNight, 
	b.BookingDate, b.RoomIds, r.RoomName, b.CustomerId,c.FirstName, c.NIC, 
	c.CustomerTypeId, ct.Name CustomerTypeName, cn.Number MobileNumber, ca.AddressDetail, 
	ca.CityId, ci.CityName, ca.CountryId, co.CountryName, b.Price, 
	b.GSTPercentage, b.GSTAmount, b.DiscountPercentge, b.DiscountAmount, b.TotalAmount,
	b.Remarks, ap.username as UserName, b.DataEntryDate 
	into #Booking
	from 
	Booking b
	Left Outer Join Customers c on c.CustomerId = b.CustomerId
	Left Outer Join CustomerType ct on ct.CustomerTypeId = c.CustomerTypeId
	Left Outer Join ContactNumber cn on cn.CustomerId = c.CustomerId and cn.ContactNumberTypeId = 2
	Left Outer Join ContactAddress ca on ca.CustomerId = c.CustomerId
	Left Outer Join City ci on ci.CityId = ca.CityId
	Left Outer Join Country co on co.CountryId = ca.CountryId
	Left Outer Join Room r on r.RoomId = b.RoomIds
	Left Outer Join AppUser ap on ap.userid = c.DataEntryUserId
	where b.RecordStatus = 1 and b.BooKingId = @BookingId


	Select a.BookingId, a.RoomId, a.RoomStatusId, r.RoomStatusName into #RoomStatus 
	from 
	(
		select ra.BookingId, ra.RoomId, ra.RoomActivityStatusId, ra.RoomStatusId,
		RANK() Over(Partition by ra.BookingId order by ra.RoomActivityStatusId desc) SortOrder
		from #Booking b
		inner Join RoomActivityStatus  ra on ra.BookingId = b.BookingId
		where ra.RecordStatus = 1
	) a
	Left Outer Join RoomStatus r on r.RoomStatusId = a.RoomStatusId
	where a.SortOrder = 1 

	select p.BookingId, Sum(Isnull(p.Amount,0)) Amount into #Advance
	from #Booking b
	Left Outer Join PaymentMode p on p.BookingId = b.BookingId 
	group by p.BookingId

	Select b.BookingId, b.BookingNumber, b.CheckInDate, b.CheckOutDate, b.NoOfNight, 
	b.BookingDate, b.RoomIds, b.RoomName, b.CustomerId, b.FirstName, b.NIC, 
	b.CustomerTypeId, b.CustomerTypeName, b.MobileNumber, 
	b.CityId, b.CityName, b.CountryId, b.CountryName, b.Price, 
	b.GSTPercentage, b.GSTAmount, b.DiscountPercentge, b.DiscountAmount, b.TotalAmount,
	b.Remarks, b.UserName, b.DataEntryDate , r.RoomStatusName, a.Amount as DepositedAmount,
	c.CompanyName, c.Address, c.ContectNumber, c.SaleTaxNumber,
	b.AddressDetail +' '+ b.CityName +', '+ b.CountryName+'. ' AddressDetail
	from #Booking b
	Left Outer Join #RoomStatus r on r.BookingId = b.BookingId
	Left Outer Join #Advance a on a.BookingId = b.BookingId
	Left Outer Join Company c on c.CompanyId = 2

	drop Table #RoomStatus
	drop table #Booking
	drop Table #Advance

	END


END




GO
/****** Object:  StoredProcedure [dbo].[SptCategoryInfo]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptCategoryInfo]
@TypeId int = Null,
@CategoryId int = Null
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
		Select c.CategoryId, c.CategoryName 
		from CategoryInfo c
		where c.RecordStatus = 1
	End

	if(@TypeId = 2)
	Begin
		Select c.CategoryId, c.CategoryCode, c.CategoryName,
		u.userid, u.username as UserName, c.DataEntryDate
		from CategoryInfo c
		Left Outer Join userBMS u on u.userid = c.DataEntryUserId
		where c.RecordStatus = 1
	End

	if(@TypeId = 3)
	Begin
		 Update CategoryInfo 
		 set RecordStatus = 0
		 where CategoryId = @CategoryId
	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptCity]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptCity]
@TypeId int = Null,
@CityId Int = null 
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
		Select c.CityId, c.CityCode, c.CityName, c.CountryId, 
		ct.CountryName, c.DataEntryDate, c.DataEntryUserId, ap.username as UserName 
		from City c
		Left Outer Join Country ct on ct.CountryId = c.CountryId
		Left Outer Join AppUser ap on ap.userid = c.DataEntryUserId
		where c.RecordStatus = 1
	End

	IF(@TypeId = 2)
	Begin 
		
		update City
		set RecordStatus = 0
		where CityId = @CityId

	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptCompany]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptCompany]
@TypeId int = Null
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
		Select Top 1 c.CompanyId, c.CompanyName from Company c
		where c.RecordStatus = 1
	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptCountry]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptCountry]
@TypeId int = Null,
@CountryId int =Null 
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
		Select c.CountryId, c.CountryName,c.CountryCode,c.DataEntryDate,c.DataEntryUserId,
		c.RecordStatus,ap.username as UserName
		from Country c
		Left Outer Join AppUser ap on ap.userid = c.DataEntryUserId
		where c.RecordStatus = 1
	End
	

	IF(@TypeId = 2)
	BEGIN
			Update Country
			set RecordStatus = 0
			where CountryId = @CountryId
	END 

END



GO
/****** Object:  StoredProcedure [dbo].[SptCustomer]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptCustomer]
@TypeId int = Null,
@CustomerId int = NULL
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
			Select cust.CustomerId, cust.FirstName, cust.LastName, cust.TitleTypeId, t.Name as TitleName, 
			cust.CustomerTypeId, ct.Name CustomerTypeName, cust.DataEntryUserId, aus.UserName, cust.DataEntryDate,
			cust.[RecordStatus], ca.ContactAddressId, ca.AddressDetail as [Address], ca.CountryId, cty.CountryName, ca.CityId, cy.CityName,
			cth.ContactNumberId as HomeNumberId, cth.Number as HomeNumber, ctc.ContactNumberId as MobileNumberId, ctc.Number MobileNumber,
			cust.NIC
			from Customers cust
			Left Outer Join ContactAddress ca on ca.CustomerId = cust.CustomerId and ca.RecordStatus = 1
			Left Outer Join ContactNumber cth on cth.CustomerId = cust.CustomerId and cth.ContactNumberTypeId = 1 and cth.RecordStatus = 1
			Left Outer Join ContactNumber ctc on ctc.CustomerId = cust.CustomerId and ctc.ContactNumberTypeId = 2 and ctc.RecordStatus = 1
			Left Outer Join Country cty on cty.CountryId = ca.CountryId
			Left Outer Join City cy on cy.CityId = ca.CityId
			Left Outer Join CustomerType ct on ct.CustomerTypeId = cust.CustomerTypeId
			Left Outer Join Title t on t.TitleId =	cust.TitleTypeId
			Left Outer Join AppUser aus on aus.userid = cust.DataEntryUserId
			where cust.RecordStatus = 1
	End

	IF(@TypeId = 2)
	Begin 
			Select cust.CustomerId, cust.FirstName, cust.LastName, cust.TitleTypeId, t.Name as TitleName, 
			cust.CustomerTypeId, ct.Name CustomerTypeName, cust.DataEntryUserId, aus.UserName, cust.DataEntryDate,
			cust.[RecordStatus], ca.ContactAddressId, ca.AddressDetail as [Address], ca.CountryId, cty.CountryName, ca.CityId, cy.CityName,
			cth.ContactNumberId as PhoneNumberId,cust.NIC, cth.Number as PhoneNumber, ctc.ContactNumberId as CellNumberId, ctc.Number MobileNumber,
			cust.NIC
			from Customers cust
			Left Outer Join ContactAddress ca on ca.CustomerId = cust.CustomerId and ca.RecordStatus = 1
			Left Outer Join ContactNumber cth on cth.CustomerId = cust.CustomerId and cth.ContactNumberTypeId = 1 and cth.RecordStatus = 1
			Left Outer Join ContactNumber ctc on ctc.CustomerId = cust.CustomerId and ctc.ContactNumberTypeId = 2 and ctc.RecordStatus = 1
			Left Outer Join Country cty on cty.CountryId = ca.CountryId
			Left Outer Join City cy on cy.CityId = ca.CityId
			Left Outer Join CustomerType ct on ct.CustomerTypeId = cust.CustomerTypeId
			Left Outer Join Title t on t.TitleId =	cust.TitleTypeId
			Left Outer Join AppUser aus on aus.userid = cust.DataEntryUserId
			where cust.CustomerId = @CustomerId and cust.RecordStatus = 1
	End

	IF(@TypeId = 3)
	Begin

		Update ContactAddress 
		set RecordStatus = 0
		where CustomerId = @CustomerId

		update ContactNumber
		set RecordStatus = 0
		where CustomerId = @CustomerId

		Update Customers
		set RecordStatus = 0
		where CustomerId = @CustomerId

		Select @CustomerId

	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptCustomerType]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[SptCustomerType]
@TypeId int = Null
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
		Select c.CustomerTypeId, c.Name from CustomerType c
		where c.RecordStatus = 1
	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptEmployee]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[SptEmployee]
@TypeId int = Null,
@EmployeeId int = NULL
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
			Select emp.EmployeeId, emp.FirstName, emp.LastName, emp.TitleTypeId, t.Name as TitleName, 
			emp.PositionId, ps.PositionName,emp.DataEntryUserId, aus.UserName, emp.DataEntryDate,
			emp.RecordStatus, ca.ContactAddressId, ca.AddressDetail as [Address], ca.CountryId, cty.CountryName, ca.CityId, cy.CityName,
			cth.ContactNumberId as PhoneNumberId, cth.Number as PhoneNumber, ctc.ContactNumberId as CellNumberId, ctc.Number CellNumber
			from Employee emp
			Left Outer Join ContactAddress ca on ca.EmployId = emp.EmployeeId and ca.RecordStatus = 1
			Left Outer Join ContactNumber cth on cth.EmployId = emp.EmployeeId and cth.ContactNumberTypeId = 1 and cth.RecordStatus = 1
			Left Outer Join ContactNumber ctc on ctc.EmployId = emp.EmployeeId and ctc.ContactNumberTypeId = 2 and ctc.RecordStatus = 1
			Left Outer Join Country cty on cty.CountryId = ca.CountryId
			Left Outer Join City cy on cy.CityId = ca.CityId
			Left Outer Join Position ps on ps.PositionId = emp.PositionId
			Left Outer Join Title t on t.TitleId =	emp.TitleTypeId
			Left Outer Join userRms aus on aus.Id = emp.DataEntryUserId
			where emp.RecordStatus = 1
	End

	IF(@TypeId = 2)
	Begin 
			Select emp.EmployeeId, emp.FirstName, emp.LastName, emp.TitleTypeId, t.Name as TitleName, 
			emp.PositionId, ps.PositionName,emp.DataEntryUserId, aus.UserName, emp.DataEntryDate,
			emp.RecordStatus, ca.ContactAddressId, ca.AddressDetail as [Address], ca.CountryId, cty.CountryName, ca.CityId, cy.CityName,
			cth.ContactNumberId as PhoneNumberId, cth.Number as PhoneNumber, ctc.ContactNumberId as CellNumberId, ctc.Number CellNumber
			from Employee emp
			Left Outer Join ContactAddress ca on ca.EmployId = emp.EmployeeId and ca.RecordStatus = 1
			Left Outer Join ContactNumber cth on cth.EmployId = emp.EmployeeId and cth.ContactNumberTypeId = 1 and cth.RecordStatus = 1
			Left Outer Join ContactNumber ctc on ctc.EmployId = emp.EmployeeId and ctc.ContactNumberTypeId = 2 and ctc.RecordStatus = 1
			Left Outer Join Country cty on cty.CountryId = ca.CountryId
			Left Outer Join City cy on cy.CityId = ca.CityId
			Left Outer Join Position ps on ps.PositionId = emp.PositionId
			Left Outer Join Title t on t.TitleId =	emp.TitleTypeId
			Left Outer Join userRms aus on aus.userid = emp.DataEntryUserId
			where emp.EmployeeId = @EmployeeId and emp.st = 1
	End

	IF(@TypeId = 3)
	Begin

		Update ContactAddress 
		set RecordStatus = 0
		where EmployId = @EmployeeId

		update ContactNumber
		set RecordStatus = 0
		where EmployId = @EmployeeId

		Update Employee
		set RecordStatus = 0
		where EmployeeId = @EmployeeId

		select @EmployeeId

	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptRooms]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,23-may-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptRooms]
@TypeId int = null,
@RoomsId Int = null,
@RoomTypeID int =null
AS
BEGIN

	IF(@TypeId = 1)
	BEGIN
		SELECT s.RoomId, s.RoomName, s.RoomDescription, 
		rt.RoomTypeId, rt.RoomTypeName, rt.Description, 
		rt.RoomTypeName +' - '+ s.RoomName as RoomWithType,
		s.DataEntryDate, s.DataEntryUserId, ap.username as UserName 
		FROM Room s
		Left Outer Join RoomType rt on rt.RoomTypeId = s.RoomTypeId
		Left Outer Join AppUser ap on ap.userid = s.DataEntryUserId
		where s.RecordStatus = 1
		order by rt.RoomTypeId, s.RoomName
	END 

	IF(@TypeId = 2)
	BEGIN
			update Room
			set RecordStatus =0 
			where RoomId = @RoomsId
	END
	
	IF(@TypeId = 3)
	BEGIN
		
		--Declare @RoomTypeID int
		--set @RoomTypeID = 1

		select r.RoomId, r.RoomName, rt.RoomTypeName, rt.RoomPrice, rt.GSTPercentage, r.RoomDescription, r.RoomPicture  
		into #tempRoom from Room r
		Left Outer Join RoomType rt on rt.RoomTypeId = r.RoomTypeId
		Where r.RecordStatus = 1 and r.RoomTypeId = @RoomTypeID

		Select * into #RoomActivityStatus from 
		(
			Select tp.RoomId, ras.RoomActivityStatusId, ras.RoomStatusId, ras.DataEntryDate, ras.BookingId,
			RANK() Over(Partition By ras.RoomId Order By RoomActivityStatusId desc) SortOrder
			from #tempRoom tp
			Left Outer Join RoomActivityStatus ras on ras.RoomId = tp.RoomId and ras.RecordStatus = 1
		) a
		where a.SortOrder = 1

		Select * into #PaymentMode from (
		Select p.*, RANK() Over(Partition by p.BookingId order by p.PaymentModeId) sortOrder 
		From #RoomActivityStatus ras
		Inner Join PaymentMode p on p.BookingId = ras.BookingId) a
		where a.sortOrder =1

		Select tr.RoomId, tr.RoomName, tr.RoomPicture, rs.RoomStatusId,
		tr.RoomTypeName,ISNULL(b.Price,tr.RoomPrice) RoomPrice,ISNULL(b.GSTPercentage,tr.GSTPercentage) GSTPercentage,
		b.DiscountPercentge, b.DiscountAmount, rs.RoomStatusName,
		ISNULL(CONVERT(varchar(20),ras.DataEntryDate,113),'') RoomActivityDate, rs.ColorCode,
		b.BookingNumber, b.BookingDate,cs.CustomerId, cs.FirstName CustomerName, cs.NIC, p.Amount,
		b.CheckInDate, b.CheckOutDate, b.Remarks, b.BookingId,b.BookingDate,b.BookingNumber, p.PaymentModeId
		from #tempRoom tr
		Left Outer Join #RoomActivityStatus ras on ras.RoomId = tr.RoomId
		Left Outer Join RoomStatus rs on rs.RoomStatusId = ISNULL(ras.RoomStatusId,9)
		Left Outer Join Booking b on b.BookingId = ras.BookingId and b. RecordStatus = 1
		Left Outer Join Customers cs on cs.CustomerId = b.CustomerId
		Left Outer Join #PaymentMode p on p.BookingId = b.BookingId


		drop Table #tempRoom
		drop Table #RoomActivityStatus
		drop Table #PaymentMode

	END 

	if(@TypeId = 4)
	begin
		select r.RoomStatusId, r.RoomStatusName, r.Description from RoomStatus r
		where RoomStatusId in (5,9,10,14) and r.RecordStatus = 1
	End

END




GO
/****** Object:  StoredProcedure [dbo].[SptRoomType]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,23-may-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptRoomType]
@TypeId int = null,
@RoomTypeId int = null
AS
BEGIN

	IF(@TypeId = 1)
	BEGIN
		Select rt.RoomTypeId, rt.RoomTypeName, rt.RoomPrice, rt.GSTPercentage, rt.Description,
		ap.username as UserName, rt.DataEntryDate
		from RoomType rt
		Left Outer Join AppUser ap on ap.userid = rt.DataEntryUserId
		where rt.RecordStatus = 1
	END 


	IF(@TypeId = 2)
	BEGIN
			Update RoomType
			set RecordStatus = 0
			where RoomTypeId = @RoomTypeId
	END 

END



GO
/****** Object:  StoredProcedure [dbo].[SptTitle]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[SptTitle]
@TypeId int = Null
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
		Select t.TitleId, t.Name from Title t
		where t.Status = 1
	End

END



GO
/****** Object:  StoredProcedure [dbo].[SptUser]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,08-Aug-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptUser]
@TypeId int = Null,
@loginId varchar(1000) = '', 
@Password varchar(1000) = '',
@UserID int = 0
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
		select u.userid, u.loginId, u.password,u.UserTypeId, u.empid, u.branchId 
		from AppUser u
		where u.loginId = @loginId and u.password = @password and u.RecordStatus = 1
	End

	IF(@TypeId = 2)
	Begin 
		select u.userid, u.loginId, u.UserTypeId, ut.UserTypeName, u.empid, u.branchId, u.username , u.DataEntryUserId, 
		aus.UserName as DataEntryUserName, u.DataEntryDate 
		from AppUser u
		Left Outer Join AppUser aus on aus.userid = u.DataEntryUserId
		LEFT OUTER JOIN UserType AS ut ON ut.UserTypeId = u.UserTypeId
		where u.RecordStatus = 1
	End

	if(@TypeId = 3)
	begin
		Update AppUser
		set RecordStatus = 0
		where userid = @UserID
	END
	
	IF(@TypeId = 4)
	BEGIN
		SELECT ut.UserTypeId, ut.UserTypeName 
		FROM UserType AS ut
		WHERE ut.RecordStatus = 1
	END
END




GO
/****** Object:  StoredProcedure [dbo].[SptUserRole]    Script Date: 3/14/2017 12:01:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Akber Ahmed>
-- Create date: <Create Date,,13-Nov-2016>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SptUserRole]
@TypeId int = Null,
@UserID int = 0,
@UserRoleID INT = NULL,
@RoleID INT = NULL
AS
BEGIN
	IF(@TypeId = 1)
	Begin 
		Select * from AppRole br
		LEFT OUTER JOIN AppUserRole AS ub ON ub.RoleID =br.RoleId AND ub.userId = @UserID AND ub.RecordStatus = 1
		where br.RecordStatus = 1 AND ub.RoleId IS NULL 
	End

	IF(@TypeId = 2)
	Begin 
		
		SELECT ub.UserRoleID, ub.RoleID, ub.UserID, b.Name, b.[Create], b.Edit,
		       b.[Delete], b.[Read], b.OtherAction, b.ParentRoleId
		  FROM AppUserRole AS ub
		LEFT OUTER JOIN AppRole AS b ON b.RoleID = ub.RoleID
		WHERE ub.UserID = @UserID AND ub.RecordStatus = 1
	END
	
	IF(@TypeId = 3)
	Begin 
		UPDATE AppUserRole
		SET
			RecordStatus = 0
		WHERE UserRoleID = @UserRoleID
	END
	
	IF (@TypeId = 4)
	BEGIN
		SELECT ub.UserRoleID, ub.RoleID, ub.UserID FROM AppUserRole AS ub
		WHERE ub.RoleID = @RoleID AND ub.UserID = @UserID AND ub.RecordStatus = 1 
	END
END




GO
USE [master]
GO
